@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');


/* 전체설정 */
* {margin: 0;
    padding: 0;}
    ul,ol {list-style: none;}
    a {text-decoration: none;
    color: #000;}
    img {vertical-align: bottom;}
    body {width: 100%;
        height: 100vh;
        background-image: url(../img/pt_back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;}


/* PTmain */
.PT {width: 100%;
height: 100px;
position: relative;
font-family: 'Comfortaa', cursive;}
.PT ul {width: 90%;
    margin-left: 5%;
    display: flex;
justify-content: space-between;
position: absolute;
align-items: center;}
.PT ul li {margin-top: 50px;
font-size: 21px;
font-weight: bold;}
.PT ul li>a {color: #3563A1;}
.PT ul li>a:hover {opacity: 0.5;}

/* ^line */
.line {width: 80%;
height: 2px;
background-color: #3563A1;}


/* 메인 캐릭터이미지 */
.PTimg {}

.PTimg>ul {}
.PTimg>ul>li {position: fixed;
left: 10%;
top: 180px;}
.PTimg>ul>li:nth-child(1) {z-index: 9;}
.PTimg>ul>li:nth-child(2) {top: 325px;
left: 580px;}
.PTimg>ul>li:nth-child(2)>img {width: 460px;}
.PTimg>ul>li>img {width: 600px;}

/* PTtxt */
.PTtxt {}
.PTtxt>img {width: 600px;
left:33%;
margin-top: 50px;
position: fixed;}
.PTtxt>p {font-family: 'Caprasimo', cursive;
color: #FCC304;
font-size: 80px;
position: fixed;
left: 37%;
margin-top: 30px;
}