@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap');

/* 전체설정 */
* {margin: 0;
padding: 0;}
ul,ol {list-style: none;}
a {text-decoration: none;
color: #000;}
img {vertical-align: bottom;}
body {width: 100%;
    height: 100vh;
    background-image: url(../img/backImg.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center center;}


/* 팝업설정구간 */

.popUp {position: fixed;
width: 520px;
height: 292px;
background-color: #fff;
left: 15%;
top: 5%;
z-index: 999;
border: 1px solid #000;
filter: drop-shadow(3px 4px 3px rgba(0,0,0,0.2));}

.popUp p {
    text-align: center;
}
.popUp p img {width: 520px;}
.popUp span {font-family: 'Noto Sans', sans-serif;
position: absolute;
width: 40px;
height: 40px;
display: flex;
background-color: #fff;
top: -1px;
right: -42px;
justify-content: center;
align-items: center;
cursor: pointer;
border: 1px solid #000;
}





.navmain {}
/* 메뉴판설정 */
h1 {width: 120px;
    height: 120px;
    position: fixed;
    left: 60px;
    top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
    animation: ani 0.9s infinite alternate;}

    @keyframes ani {

    0% {transform: scale(1);
    opacity: 0.8;}
    100% {transform: scale(1.05);}
}


h1 img {width: 120px;
height: 120px;
transition: all 0.8s;}
.navmain:hover h1 img {filter: drop-shadow(-3px 3px 4px #777); }


/* 메뉴설정 */
nav {width: 120px;
    height:120px;
    position: fixed;
    left: 60px;
    top: 60px;
    border: 2px solid #49D3FF;
    border-radius: 100%;
    opacity: 0;
    transition: all 0.7s;
z-index: 5;}
nav ul {width: 100%;
    margin-top: 22%;}
nav ul li {
    opacity: 0;
    font-family: 'Jacques Francois', serif;}
nav ul li a {transition: all 0.2s;
    cursor: pointer;}


.navmain:hover nav {width: 350px;
    height:350px;
    left: -60px;
    top: -60px;
    border: 2px solid #fff;
    border-radius: 100%;
    opacity: 1;}
.navmain:hover li {width: 50%;
    height: 30px;
    margin-bottom: 25px;
    font-size: 20px;
    text-align: center;
    margin-left: 70%;
    opacity: 1;}

    .navmain:hover li:nth-child(2) {margin-left: 75%;
                                    margin-top: 60px;}
    .navmain:hover li:nth-child(3) {margin-left: 73%;}
    .navmain:hover li:nth-child(4) {margin-left: 63%;}
    .navmain:hover li:nth-child(5) {margin-left: 41%;}
    .navmain:hover li:nth-child(6) {margin-left: 40%;
                                    position: absolute;
                                    bottom: -37px;
                                    width: 35px;}
    .navmain:hover li:nth-child(6) img {width: 35px;
                                        height: 35px;}


nav ul li:hover a {color: #49D3FF;}
nav ul li.on {color: #49D3FF;}



/* 섹션설정 */
section {width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
/* 섹션의 메인설정 */
.main {display: block;
position: relative;}
/* 메인 로고 설정 */
.main h2 {width: 1050px;
height: 140px;
background-color: #49D3FF;
right: -70px;
position: fixed;
border-radius: 50%;
margin-top: 110px;
}
.main h2 img {width: 988px;
    height: 200px;
    position: absolute;
    top: -100px;
}
/* 메인 사진 설정 */
.main ul {display: flex;
width: 1454px;
height: 671px;
margin:auto;}
.main ul li {width: 350px;
height: 660px;
margin:auto;
margin-top: 280px;}
.main ul li a {position: relative;}
.main ul li a img {position: absolute;
    left: 0;
    top: 0;
    transition: all 0.4s;}
    .navimg {z-index: 2;}
/* 사진 뒷배경 설정 */
.back {position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
transition: all 0.3s;}
.main ul li a:hover .back {opacity: 1;
}
    .main ul li a:hover img {transform:rotate(-3deg);}



/* //////////////////////////////////////////////////////////////////////////////////// */
/* 프로필 설정 */
.Profile {width: 100%;
    height: 100vh;
    background-image: url(../img/profileBackimg.png);
background-repeat: no-repeat;
background-size: cover;
background-position:  center ;
}
.Profile h2 {font-family: 'Playfair Display', serif;
    font-size: 320px;
    position: fixed;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(../img/backImg.png);
    background-size: cover;
    background-attachment: fixed;

    /* 글씨를 투명하게 적용하여 배경을 넣는다. */
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation-duration:2s;
      /* 애니메이션 이름 */
    animation-name: pro;
    animation-duration:3.5s;
    animation-direction:alternate;
    animation-fill-mode: forwards;
}

@keyframes pro {
    0% {
        bottom:1200px;
      }
      100% {
        bottom:-50px;
      }
    }


/* 정면 미노이 box1 */
.box1 {width: 600px;
height: 1000px;
position: fixed;
bottom: 0;
z-index: 999;}
.box1 img {width: 600px;
position: fixed;
bottom: -30px;}

/* 정면 미노이 뒤 타원형 글씨 box2 */
.box2 {position: fixed;
z-index: 1;
bottom: 47%;
right: 17%;}
.box2 img {width: 830px;}

/* 미노이 옆 8볼타운 택 설정 */
.box3 {position: fixed;
bottom: 39%;
left: 22%;
animation: ball 0.5s Infinite Alternate;
transform-origin: right bottom;}
.box3 img {}

@keyframes ball {
    0% {transform: rotate(15deg);
    }
    100% {transform: rotate(-10deg);
    } 
  }

/* 프로필텍스트 설정 */
.pTxt {z-index: 2;
text-align: right;
position: fixed;
bottom: 30%;
right: 17%;}
.pTxt li {}
.pTxt li:nth-child(2) {margin-top: 5px;}
.pTxt li:nth-child(4) {margin-bottom: -20px;}
.pTxt li:nth-child(5) {margin-bottom: -10px;}

/* sns세트 설정 */
.snsSet {width: 350px;
height: 30px;
position: fixed;
top: 20px;
display: flex;
z-index: 9999;
justify-content: center;
border-top: 2px solid #333;
transition: 0.5s;
cursor: pointer;

}

.snsSet:hover {background-color: #ddd;
border-radius: 7px;
border-top: 2px solid #ddd;}


.snsSet li {width: 30px;
    height: 30px;
    margin: 5px;
    margin-top: 10px;
position: relative;
opacity: 0;
transition: all 0.6s;}
.snsSet:hover li {opacity: 1;}

.snsSet li a {width: 100%;
    height: 100%;
position: absolute;
}
.snsSet li a img {width: 23px;
height: 23px;
position: absolute;
bottom: 0;
transition: all 0.2s;}

.snsSet li:nth-child(6) img {width: 30px;
height: 21px;
margin-bottom: 1px;}

.snsSet li a:hover img {width: 30px;
height: 30px;}
.snsSet li:nth-child(6) a:hover img {width: 40px;
    height: 29px;}




/* //////////////////////////////////////////////////////////////////////////////////// */
.Song {backdrop-filter: blur(5px);
    font-family: 'Noto Sans', sans-serif;
    color: #fff;}
.Song .Sm {position: fixed;
bottom: 35%;
left: 15%;}

/* S1 위에 노래 설정 */
.S1 {}
.S1 ul {}
.S1 ul li {position: fixed;
display: flex;
bottom: 44%;
left: 19%;}
.S1 ul li img {}
.S1 ul li p {margin-left: 10%;
    font-size: 17px;
    font-weight: 300;
display: block;
width: 500px;
margin-top: 8%;
line-height: 30px;}
.S1 ul li p>em {font-style: normal;
font-size: 14px;}
.S1 ul li p>b {font-size: 22px;}


/* S2 아래 앨범 설정 */
.S2 {position: fixed;
bottom: 4%;
z-index: 4;}
.S2 ul {display: flex;
    text-align:center;
    justify-content: center;
height: 80px;}
.S2 ul li {width: 80px;
display:inline-block;}
.S2 ul li img {width: 60px;
transition: all 0.3s;
cursor: pointer;}
.S2 ul li img:hover {width: 70px;}

/* S3 아래 파일 설정 */
.S3 {position: fixed;
bottom: 4%;}
.S3 p {width: 1300px;
background-color: #000;
height: 55px;
border-radius: 10px;
opacity: 0.3;}
.S3 img {position: fixed;
bottom: 3%;
left: 15.5%;}

/* ///////////////////////////////////////////////////////////////// */
/* 유튜브설정 */
.Youtube {backdrop-filter: blur(5px);}
.Youtube h2 {position: fixed;
margin-left:700px;
margin-bottom: 500px;}
.Youtube h2 img {filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.2));}


/* 유튜브 가는 버튼 두개 */
.yt {position: fixed;
margin-bottom: 330px;
margin-right: 150px;}
.yt ul {}
.yt ul li {font-size: 17px;
font-weight: 300;
text-align: center;}
.yt ul li a {display: block;
    background-color: rgba(255, 255, 255, 0.2);
    width: 220px;
    height: 30px;
    margin-top: 20px;
    padding-top: 5px;
    border: 1px solid #fff;
    border-radius: 50px;
    font-family: 'Noto Sans', sans-serif;
    color: #fff;
    transition: all 0.2s;
}
.yt ul li a:hover {background-color: rgba(0, 0, 0, 0.1);
    box-shadow: inset 3px 3px 5px #444 ;
} 

/* 비디오 */
.vid {}
.vid ul {display: flex;}
.vid ul li {}
.vid ul li video {width: 910px;
height: 500px;} 
.vid ul li video source {}