@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');


/* 전체설정 */
* {margin: 0;
    padding: 0;}
ul,ol {list-style: none;}
a {text-decoration: none;
    font-style: normal;
    color: #000;}
img {vertical-align: bottom;}

/* 레이아웃설정 */
header {background-color: #ddd;}
section {background-color: #ccc;}
footer {background-color: #bbb;}
body {font-family: 'Noto Sans KR', sans-serif;}


/* 헤더설정 */
header {width: 100%;
    height: 100vh;
background-image: url(../img/hero_img.png);
background-position: center bottom;
background-repeat: no-repeat;
background-size: cover;
overflow: hidden;
font-family: 'Noto Sans KR', sans-serif;}

.hd_img {width: 100%;
    height: 140px;
    position: absolute;}


header .hero {display: flex;
justify-content: space-between;
align-items: flex-end;
flex-direction: column;
width: 80%;
position: fixed;
left: 10%;
top: 0;
z-index: 9999;
height: 130px;}

header .hero .inner {display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

/* logo */
h1 {position: absolute;
    top: 0;
    left: 50%;
    margin-left: -350px;}
h1 img {}


/* sns */
header .hero .snsSet {display: flex;
}
header .hero .snsSet li {margin-right: 10px;
}
header .hero .snsSet li a {}
header .hero .snsSet li a img {width: 25px;
height: 25px;}

/* icon */
header .hero .iconSet {display: flex;}
header .hero .iconSet li {padding-left: 25px;
margin-top: 5px;}
header .hero .iconSet li a {}
header .hero .iconSet li a img {}

/* nav */
header nav {width: 100%;
z-index:11;}
header nav ul {display: flex;
position: relative;
justify-content: center;
}
header nav li {padding: 0 60px;
color: #fff;
font-family: 'Kavoon';
font-size: 19px;
transition: 0.3s;
cursor: pointer;}
    header nav li:hover {color: #FFC700;}


.hero_img {}
.hero_img .i1 {width: 1800px;
height: 100%;
position: relative;
bottom: 150px;
left: 200px;}
.hero_img .i2 {}
.hero_img .i3 {}




/* wrap 설정 (콘텐츠영역) */

#wrap {}
#wrap article {
width: 100%;
height: 100vh;
overflow: hidden;
position: relative;
background-color: #fff;
box-sizing: border-box;}

#wrap article:nth-child(3) {background-color: #F5B994;}
#wrap article:nth-child(4) {background-color: #F5B994;}
#wrap article:nth-child(5) {background-color: #7D3616;}
#wrap article:nth-child(6) {background-color: #7D3616;}
#wrap article:nth-child(6) h2 {color: #F3FFA9;}

#wrap h2 {color: #B61B30;
font-family: 'Kavoon';
font-size: 75px;
text-align: center;
width: 100%;
height: 10vh;
padding-top: 70px;
}





/* about설정 */

.about {width: 63%;
    height: 90vh;
    margin: 0 auto;
    margin-top: 50px;
display: flex;
position: relative;
}

.about>div {text-align: center;}


/* .aBox1 {background-color: #333;}
.aBox2 {background-color: #666;}
.aBox3 {background-color: #999;}
.aBox4 {background-color: #aaa;} */


/* 아티클1 첫번째div */
.aBox1 {padding-top: 50px;
z-index: 10;}
.aBox1 ul {font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 100px;}
.aBox1 li {display: flex;
width: 100%;
margin-bottom: 20px;
text-align: left;
color: #555;
cursor: pointer;}

.aBox1 li img {width: 100px;
height: 100px;}
.aBox1 li p {font-size: 18px;
margin-top: 15px;
margin-left: 20px;
}

.aBox1 li:nth-child(2) p {margin-top: 5px;}

.aBox1 li b {font-size: 28px;
transition: 0.5s;}
.aBox1 li:hover b {color: #B61B30;}
.aBox1 li em {font-style: normal;
font-weight: bold;
font-size: 20px;}

/* 홈페이지 버튼 */
.aBox1 .aBox1_1 {}
.aBox1 .aBox1_1 p {font-family: 'Kavoon';
    font-size: 20px;
}
.aBox1 .aBox1_1 a {padding-top: 9px;
text-align: center;
display: block;
background-color: #FFC700;
width: 400px;
height: 40px;
border-radius: 50px;
transition: 0.5s;
color: #fff;
padding-top: 18px;}

    .aBox1 .aBox1_1 a:hover {color: #B61B30;
    background-color: #F3FFA9;
box-shadow: inset 3px 3px 8px #C2CC87;
}




/* 아티클1 두번째div */
.aBox2 {position: absolute;
margin-left: 22%;
bottom: 170px;
}
.aBox2 img {width: 720px}

/* 아티클1 세번째div */
.aBox3 {position: absolute;
right: 0;
top: 60px;}
.aBox3 img {width: 480px;}
.aBox3 p {font-size: 18px;
position: absolute;
top: 0;
left: 19%;}
.aBox3 p b {}

/* 아티클1 네번째div */
.aBox4 {position: absolute;
right: 0px;
top: 340px;
}
.aBox4 img {width: 400px;
    height: 100%;}

.aBox4 .a1 {position: absolute;
display: flex;
right: 0;
margin-top: 10px;}
.aBox4 .a1>li {
    margin-right: -35px;
}
.aBox4 .a1>li>img {width:210px;
    height: 100%;
}

.aBox4 .a2 {position: absolute;
    display: flex;
    right: 0;
    margin-top: 10px;}
    .aBox4 .a2 li {
        margin-right: -35px;}
    .aBox4 .a2 li img {width:210px;
        height: 100%;
        opacity: 0;
        transition: all 0.8s;
        cursor: pointer;
    }
    .aBox4 .a2 li img:hover {opacity: 1;}



/* 아티클2 chex설정/////////// */
section article:nth-child(2) {
background-image: url(../img/chex_bImg.png);
background-position: center bottom;
background-repeat: no-repeat;
background-size: cover;
overflow: hidden;}
.chex {width: 70%;
    height: 70vh;
    margin: 0 auto;
    margin-top: 50px;
display: flex;
position: relative;
font-size: 15px;
align-items: center;
text-align: center;}
.chex ul {width: 100%;
    display: flex;
justify-content: space-between;
background-color: #31A936;}
.chex li {height: 60vh;
    width: 25%;
    background-color: #7D3616;
    padding: 0 20px;
    position: relative;
    display: flex;
    align-items: center center;
    justify-content: center;
}
.chex li img {
    /* width: 170px;
height: 226px; */
width: 270px;
height: 354px;
position: absolute;
z-index: 7;
}
.chex li span {
    width: 320px;
height: 320px;
display: block;
background-color: #FFC700;
border-radius: 50%;
position: absolute;
top: 5%;
left: 0;
}

.chex li:nth-child(1):hover img {}


.chex li p {margin-top: 20px;
overflow: hidden;
position: absolute;
bottom: 15%;
}
.chex li p b {font-size: 28px;}
.chex li p em {}
.chex li p em a {display: block;
    background-color: #B61B30;
    width: 270px;
    height: 28px;
    border-radius: 50px;
    font-size: 15px;
    color: #fff;
    padding-top: 5px;
    
}

/* 아티클3 story설정/////////// */
section article:nth-child(3) {}
section article .txt {font-size: 17px;
background-color: #FFC700;
color: #B61B30;
width: 420px;
font-weight: 500;
    height: 35px;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 50px;
    border-bottom: 9px solid #B61B30;
    text-align: center;
display: block;
padding-top: 10px;
}
section article:nth-child(4) .txt {margin-top: 100px;}
section article:nth-child(5) .txt {margin-top: 100px;}



.story1 {width: 70%;
    height: 60vh;
    margin: 0 auto;
    margin-top: 100px;
display: flex;
position: relative;
background-image: url(../img/c_img.png);
background-repeat: no-repeat;
background-position: top;
background-size: 100%;
}




/* story1 대통령선거//////////////// */
.story1 .st1_1 {
width: 50%;
height: 60vh;
position: relative;}
.story1 .st1_1>div {width: 100%;
height: 60vh;
position: absolute;
background-image: url(../img/c_back.png);
background-repeat: no-repeat;
background-position: bottom left;
background-size : 100%;}
.story1 .st1_1 span {width: 100%;
    height: 100%;
display: block;
position: absolute;
bottom: 55px;
z-index: 8;
overflow: hidden;
}


.story1 .st1_1 span img {
    width:560px;
    height: 460px;
position: absolute;
bottom: -240px;
left: 40px;
transition: 1s;
}
.story1 .st1_1 span:hover img  {
    bottom: 0;
}


.hidden1 {width: 100%;
height: 100%;
position: absolute;
top: 0;
opacity: 0;
transition: 1s;
}

.st1_1:hover .hidden1 {opacity: 1;}


.hidden1>img {position: absolute;
left: 150px;
top: -50px;}
.hi1 {width: auto;
    height: 200px;
    position: absolute;
    right: -460px;
    top: 30px;}
.hi1 img {}
.hi1 p {text-align: left;
font-size: 18px;
font-weight: 500;
color: #F3FFA9;}
.hi1 p em {font-style: normal;
font-size: 20px;
font-weight: 800;
color: #B06340;}

/* /////////////// */
.story1 .st1_2 {
    width: 50%;
    height: 60vh;
    position: relative;}
    .story1 .st1_2>div {width: 100%;
    height: 60vh;
    position: absolute;
    background-image: url(../img/c_back.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size : 100%;}
    .story1 .st1_2 span {width: 100%;
        height: 100%;
    display: block;
    position: absolute;
    bottom: 55px;
    z-index: 8;
    overflow: hidden;
    }
    
    
    .story1 .st1_2 span img {
        width:550px;
        height: 420px;
    position: absolute;
    bottom: -240px;
    left: 40px;
    transition: 1s;}
    .story1 .st1_2 span:hover img  {
        bottom: -20px;
    }
    
    
    .hidden2 {width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        opacity: 0;
        transition: 1s;}
    
    .st1_2:hover .hidden2 {opacity: 1;}
    
    .hidden2>img {position: absolute;
        right:0;
        top: -10px}
    
            /* 기호2번차카 txt */
    .hi2 {
    width: auto;
    height: 200px;
    position: absolute;
    left: -500px;
    top: 30px;
    }
    .hi2 img {padding-left: 60px;}
    .hi2 p {text-align: right;
    font-size: 18px;
    font-weight: 500;
    color: #F3FFA9;}
    .hi2 p em {font-style: normal;
    font-size: 20px;
    font-weight: 800;
    color: #31A936;}



/* story2 체키승리/////////// */
section article:nth-child(4) {
    background-image: url(../img/story_bImg.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.story2 {
    width: 60%;
    height: 70vh;
    margin: 0 auto;
    margin-top: 80px;
    background-color: #31A936;
    position: relative;

}

.story2 ul {
    width: 100%;
    height: 100%;
}
.story2 ul li {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
}
/* story2 말풍선 */
.st2_1 {}
.st2_1>img {width: 500px;
position: absolute;
right: 40px;
top: 20px;}
.st2_1 p {font-size: 18px;
color: #DD5656;
position: absolute;
right: 0;
text-align: right;
margin-right: 60px;}
.st2_1 p em {font-size: 36px;
font-style: normal;
font-weight: 600;
color: #B61B30;}

/* story2 동영상 */
.st2_2 {}
.st2_2 video { width: 95%;
    position: absolute;
right: 0;}
/* story2 체키사진 */
.st2_3 {background-color: #C2CC87;}
.st2_3 p {position: absolute;
top: -250px;
left: -130px;
}
.st2_3 p img {width: 900px;}

/* story2 통계표 */
.st2_4 {}
.chart {
  width: 550px;
  height: 55px;
  background-color: #F3FFA9;
  border-radius: 5px;
  overflow: hidden;
  border-radius: 50px;
  position: relative;
  margin-bottom: 20px;
}
.chart>p {position: absolute;
right: 0;
margin: 10px 20px;
font-size: 20px;
font-weight: bold;
color: #B61B30;}



.bar1 {
    height: 100%;
    background-color: #B61B30;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    box-shadow: 1px 0 150px #222 ;  }
    .bar1 p {font-size: 20px;
    font-weight: 500;
padding: 10px 25px;
color: #F3FFA9;}


.bar2 {
  height: 100%;
  background-color: #B61B30;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
}
.bar3 {
    height: 100%;
    background-color: #B61B30;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    box-shadow: 1px 0 150px #222 ;

  }

  .bar3 p {font-size: 20px;
    font-weight: 500;
padding: 10px 25px;
color: #F3FFA9;}



.bar4 {
    height: 100%;
    background-color: #B61B30;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
  }

/* story3 매지션체키///////////////// */
.story3 {width: 70%;
    height: 70vh;
    margin: 0 auto;
    margin-top: 50px;
position: relative;
background-color: #31A936;}

.story3 video {position: absolute;
height: 100%;
width: 100%;}

.story3>p {position: absolute;
bottom: -80px;
left: -100px;}
.story3>p>img {width: 700px;}



