@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');


/* 전체설정 */
* {margin: 0;
    padding: 0;}
ul,ol {list-style: none;}
a {text-decoration: none;
    font-style: normal;
    color: #000;}
img {vertical-align: bottom;}

/* 레이아웃설정 */
header {background-color: #ddd;}
section {background-color: #ccc;}
footer {background-color: #bbb;}
body {font-family: 'Noto Sans KR', sans-serif;}


/* 헤더설정 */
header {width: 100%;
    height: 100vh;
background-image: url(../img/hero_img.png);
background-position: center bottom;
background-repeat: no-repeat;
background-size: cover;
overflow: hidden;
font-family: 'Noto Sans KR', sans-serif;}

/* logo */
.mainLG {position: absolute;
    top: 0;
    left: 50%;
    margin-left: -300px;
z-index: 99999;
height: 80px;
}
.mainLG>img {
}

.hd_img {width: 100%;
    height: 140px;
    position: absolute;
    box-shadow: 0 5px 8px rgb(0, 0, 0, 0.2);}


.hero_img {}
.hero_img .i1 {width: 1800px;
height: 100%;
position: relative;
bottom: 150px;
left: 200px;}
.hero_img .i2 {position: absolute;
top: 50%;
right: 28%;}
.hero_img .i3 {position: absolute;
top: 35%;
right: 35%;
width: 780px;}


.i2 {animation: ani1 1s infinite alternate;}
@keyframes ani1 {

    0% {transform: scale(1);}
    100% {transform: scale(1.11);}
}

.i3 {animation: ani2 0.8s infinite alternate;}
@keyframes ani2 {

    0% {transform: scale(1);
}
    100% {transform: scale(1.05);}
}

/* 히어로 */

header .hero {display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    width: 80%;
    left: 10%;
    top: 0;
    height: 130px;
    position: absolute;}

    
    .hero2 {display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    width: 80%;
    left: 10%;
    top: 0;
    height: 130px;
    position: absolute;}
    
    .inner {display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-top: 30px;
        z-index: 9999;
    }
    
    
    

    /* sns */
    .snsSet {display: flex;
    }
    .snsSet li {width: 25px;
        height: 25px;
        margin-right: 15px;
    }
    .snsSet li a {}
    .snsSet li a img {width: 25px;
    height: 25px;}
    .snsSet li a:hover {opacity: 0.7;}
    
    /* icon */
    .iconSet {display: flex;}
    .iconSet li {width: 30px;
    height: 30px;
    text-align: center;
    margin-left: 15px;
    margin-top: 2px;}
    .iconSet li a {}
    .iconSet li a img {width: 21px;}
    .iconSet li a:hover img {opacity: 0.7;
    width: 19px;}
    
    /* nav */
    header nav {width: 100%;
    z-index:9999;}
    header nav ul {display: flex;
    position: relative;
    justify-content: center;
    }
    header nav li {
        padding: 0 60px;
    color: #fff;
    font-family: 'Kavoon';
    font-size: 19px;
    transition: 0.3s;
    cursor: pointer;}
        header nav li:hover {color: #FFC700;}
    
    /* 메인 아래 물음표 설정 */
    .help {position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 9;
    }
    .hp1 {width: 50px;
    height: 50px;
    background-color: #FFC700;
    border-radius: 50px;
    box-shadow: 0 5px 8px rgb(0, 0, 0, 0.1);
    cursor: pointer;
    }
    .hp1 p {width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #B61B30;
}
    .hp2 {width: 50px;
        height: 50px;
    background-color: #FFC700;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 50px;
    z-index: 10;
    opacity: 0;
    transition: all 0.2s;
    }

    .hp2 p {opacity: 0;
    transition: all 0.7s;}

    .hp1:hover .hp2 p {opacity: 1;} 
    .hp1:hover {box-shadow: none;}
    .hp1:hover .hp2 {width: 200px;
        height: 50px;
    opacity: 1;
    box-shadow: 0 5px 8px rgb(0, 0, 0, 0.1);}




/* 히어로 fix 설정 */

.hero.fix {width: 100%;
    height: 46px;
    position: fixed;
    top:0;
    left: 0;
    background-image: url(../img/hero_1deth_fix.png);
    box-shadow: 0 5px 8px rgb(0, 0, 0, 0.1);
    z-index: 999;
transition: top 0.4s;}

@keyframes dropHeader {
  0% {
    top: -5rem;
  }
  100% {
    top: 0;
  }
}

    
.hero.fix .inner {width: 80%;
    height: 100%;
    position: absolute;
    left: 10%;
bottom: 0;
}
.hero.fix nav {
width: 60%;
left: 20%;
position: absolute;}
.hero.fix nav>ul>li {
height:30px;
margin-top: 10px;
}

/* wrap 설정 (콘텐츠영역) */

#wrap {}
#wrap article {
width: 100%;
height: 100vh;
overflow: hidden;
position: relative;
background-color: #fff;
box-sizing: border-box;}

#wrap article:nth-child(3) {background-color: #F5B994;}
#wrap article:nth-child(4) {background-color: #F5B994;}
#wrap article:nth-child(5) {background-color: #7D3616;}
#wrap article:nth-child(6) {background-color: #7D3616;}
#wrap article:nth-child(6) h2 {color: #F3FFA9;}

#wrap h2 {color: #B61B30;
font-family: 'Kavoon';
font-size: 75px;
text-align: center;
width: 100%;
height: 10vh;
padding-top: 70px;
}





/* about설정 */

.about {width: 63%;
    height: 90vh;
    margin: 0 auto;
    margin-top: 50px;
display: flex;
position: relative;
}

.about>div {text-align: center;}


/* .aBox1 {background-color: #333;}
.aBox2 {background-color: #666;}
.aBox3 {background-color: #999;}
.aBox4 {background-color: #aaa;} */


/* 아티클1 첫번째div */
.aBox1 {padding-top: 50px;
z-index: 10;}
.aBox1 ul {font-family: 'Noto Sans KR', sans-serif;
    margin-bottom: 100px;}
.aBox1 li {display: flex;
width: 100%;
margin-bottom: 20px;
text-align: left;
color: #555;
cursor: pointer;}
.aBox1 li:hover img {opacity: 0.7;}

.aBox1 li img {width: 100px;
height: 100px;
transition: all 0.4s;}
.aBox1 li p {font-size: 15px;
margin-top: 15px;
margin-left: 20px;
}

.aBox1 li:nth-child(2) p {margin-top: 5px;}

.aBox1 li b {font-size: 26px;
transition: 0.5s;}
.aBox1 li:hover b {color: #B61B30;}
.aBox1 li em {font-style: normal;
font-weight: bold;
font-size: 20px;}

/* 홈페이지 버튼 */
.aBox1 .aBox1_1 {}
.aBox1 .aBox1_1 p {font-family: 'Kavoon';
    font-size: 20px;
}
.aBox1 .aBox1_1 a {
text-align: center;
display: block;
background-color: #FFC700;
width: 400px;
height: 40px;
border-radius: 50px;
transition: all 0.5s;
color: #fff;
padding-top: 18px;
box-shadow: #d3a500 0 6px;}

    .aBox1 .aBox1_1 a:hover {color: #B61B30;
    background-color: #FFC700;
box-shadow:none;
position: absolute;
border-bottom:none;
margin-top: 6px;
box-shadow: #b78f00 0 0; 
}




/* 아티클1 두번째div */
.aBox2 {position: absolute;
margin-left: 22%;
bottom: 190px;
}
.abox2_1 {width: 720px}

.abox2_2 {position: absolute;
    width: 90px;
left: 160px;
top: 60px;
animation: ab2 0.4s infinite alternate;}


@keyframes ab2 {

      to {
        top:40px;
      } 
}

/* 아티클1 세번째div */
.aBox3 {position: absolute;
right: 0;
top: 60px;}
.aBox3 img {width: 480px;}
.aBox3 p {font-size: 18px;
position: absolute;
top: 0;
left: 19%;}
.aBox3 p b {}

/* 아티클1 네번째div */
.aBox4 {position: absolute;
right: 0px;
top: 310px;
}
.aBox4 img {width: 350px;
    height: 100%;}

.aBox4 .a1 {position: absolute;
display: flex;
right: 0;
margin-top: 10px;}
.aBox4 .a1>li {
    margin-right: -35px;
}
.aBox4 .a1>li>img {width:210px;
    height: 100%;
}

.aBox4 .a2 {position: absolute;
    display: flex;
    right: 0;
    margin-top: 10px;}
    .aBox4 .a2 li {
        margin-right: -35px;}
    .aBox4 .a2 li img {width:210px;
        height: 100%;
        opacity: 0;
        transition: all 0.8s;
        cursor: pointer;
    }
    .aBox4 .a2 li img:hover {opacity: 1;}



/* 아티클2 chex설정/////////// */
section article:nth-child(2) {
background-image: url(../img/chex_bImg.png);
background-position: center bottom;
background-repeat: no-repeat;
background-size: cover;
overflow: hidden;}
.chex {width: 70%;
    height: 70vh;
    margin: 0 auto;
    margin-top: 50px;
display: flex;
position: relative;
font-size: 15px;
align-items: center;
text-align: center;}
.chex ul {width: 100%;
    height: 60vh;
    display: flex;
justify-content: space-between;}
.chex li {height: 25vh;
    width: 20%;
    margin: 0 20px;
    top: 30px;
    position: relative;
    display: flex;
    align-items: center center;
    justify-content: center;
transition: all 0.7s;}
.chex li .cA {
    width: 170px;
height: 226px;
position: absolute;
top: 50px;
transition: all 0.5s;
z-index: 7;
}
.cA>img {    width: 170px;
    height: 226px;
transition: all 0.7s;
}
.chex li span {width: 10px;
    height: 10px;
display: block;
border-radius: 50%;
position: absolute;
transition: all 0.7s;
top: 30%;
left: 47%}


.chex li:hover .cA {width: 270px;
    height: 354px;
    position: absolute;
top: 0;}
    .chex li:hover .cA img {width: 270px;
        height: 354px;}
.chex li:hover span {width: 320px;
height: 320px;
top: 10px;
left: 35px;
background-color: #FFC700;
}
.chex li:hover {height: 55vh;
width: 30%;}
.chex li:hover div {
    opacity: 1;}

    
.chex li>div {position: absolute;
    margin-top: 500px;
margin-right: 300px;
opacity: 0;
transition: all 0.5s;}

.chex li p {margin-top: 20px;
overflow: hidden;
position: absolute;
bottom: 15%;
width: 300px;
}
.chex li p b {font-size: 28px;}
.chex li p em {}
.chex li p em a {display: block;
    background-color: #B61B30;
    width: 270px;
    height: 28px;
    border-radius: 50px;
    font-size: 15px;
    color: #fff;
    padding-top: 5px;
    margin-left: 15px;
}

/* 아티클3 story설정/////////// */
section article:nth-child(3) {}
section article .txt {font-size: 17px;
background-color: #FFC700;
color: #B61B30;
width: 420px;
font-weight: 500;
    height: 35px;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 50px;
    border-bottom: 9px solid #B61B30;
    text-align: center;
display: block;
padding-top: 10px;
}
section article:nth-child(4) .txt {margin-top: 100px;}
section article:nth-child(5) .txt {margin-top: 100px;}



.story1 {width: 70%;
    height: 60vh;
    margin: 0 auto;
    margin-top: 100px;
display: flex;
position: relative;
background-image: url(../img/c_img.png);
background-repeat: no-repeat;
background-position: top;
background-size: 100%;
}




/* story1 대통령선거//////////////// */
.story1 .st1_1 {
width: 50%;
height: 60vh;
position: relative;}
.story1 .st1_1>div {width: 100%;
height: 60vh;
position: absolute;
background-image: url(../img/c_back.png);
background-repeat: no-repeat;
background-position: bottom left;
background-size : 100%;}
.story1 .st1_1 span {width: 100%;
    height: 100%;
display: block;
position: absolute;
bottom: 55px;
z-index: 8;
overflow: hidden;
}


.story1 .st1_1 span img {
    width:560px;
    height: 460px;
position: absolute;
bottom: -240px;
left: 40px;
transition: 1s;
}
.story1 .st1_1 span:hover img  {
    bottom: 0;
}


.hidden1 {width: 100%;
height: 100%;
position: absolute;
top: 0;
opacity: 0;
transition: 1s;
}

.st1_1:hover .hidden1 {opacity: 1;}


.hidden1>img {position: absolute;
left: 150px;
top: -50px;}
.hi1 {width: auto;
    height: 200px;
    position: absolute;
    right: -460px;
    top: 30px;}
.hi1 img {}
.hi1 p {text-align: left;
font-size: 18px;
font-weight: 500;
color: #F3FFA9;}
.hi1 p em {font-style: normal;
font-size: 20px;
font-weight: 800;
color: #B06340;}

/* /////////////// */
.story1 .st1_2 {
    width: 50%;
    height: 60vh;
    position: relative;}
    .story1 .st1_2>div {width: 100%;
    height: 60vh;
    position: absolute;
    background-image: url(../img/c_back.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size : 100%;}
    .story1 .st1_2 span {width: 100%;
        height: 100%;
    display: block;
    position: absolute;
    bottom: 55px;
    z-index: 8;
    overflow: hidden;
    }
    
    
    .story1 .st1_2 span img {
        width:550px;
        height: 420px;
    position: absolute;
    bottom: -240px;
    left: 40px;
    transition: 1s;}
    .story1 .st1_2 span:hover img  {
        bottom: -20px;
    }
    
    
    .hidden2 {width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        opacity: 0;
        transition: 1s;}
    
    .st1_2:hover .hidden2 {opacity: 1;}
    
    .hidden2>img {position: absolute;
        right:0;
        top: -10px}
    
            /* 기호2번차카 txt */
    .hi2 {
    width: auto;
    height: 200px;
    position: absolute;
    left: -500px;
    top: 30px;
    }
    .hi2 img {padding-left: 60px;}
    .hi2 p {text-align: right;
    font-size: 18px;
    font-weight: 500;
    color: #F3FFA9;}
    .hi2 p em {font-style: normal;
    font-size: 20px;
    font-weight: 800;
    color: #31A936;}



/* story2 체키승리/////////// */
section article:nth-child(4) {
    background-image: url(../img/story_bImg.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.story2 {
    width: 60%;
    height: 70vh;
    margin: 0 auto;
    margin-top: 80px;
    position: relative;

}

.story2 ul {
    width: 100%;
    height: 100%;
}
.story2 ul li {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
}
/* story2 말풍선 */
.st2_1 {}
.st2_1>img {width: 460px;
position: absolute;
right: 40px;
top: 20px;}
.st2_1 p {font-size: 18px;
color: #DD5656;
position: absolute;
right: 0;
text-align: right;
margin-right: 60px;
top: -5px;}
.st2_1 p em {font-size: 36px;
font-style: normal;
font-weight: 600;
color: #B61B30;}

/* story2 동영상 */
.st2_2 {}
.st2_2 video { width: 95%;
    position: absolute;
right: 0;}
/* story2 체키사진 */
.st2_3 {}
.st2_3 p {position: absolute;
top: -220px;
left: -150px;
}
.st2_3 p img {width: 800px;}

/* story2 통계표 */
.st2_4 {}
.chaSet {
position: absolute;
bottom: 0;
right: 0;}
.chart {
  width: 550px;
  height: 55px;
  background-color: #F3FFA9;
  border-radius: 5px;
  overflow: hidden;
  border-radius: 50px;
  position: relative;
  margin-bottom: 20px;
}
.chart>p {position: absolute;
right: 0;
margin: 10px 20px;
font-size: 20px;
font-weight: bold;
color: #B61B30;}



.bar1 {
    height: 100%;
    background-color: #B61B30;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    box-shadow: 1px 0 150px #222 ;  }
    .bar1 p {font-size: 20px;
    font-weight: 500;
padding: 10px 25px;
color: #F3FFA9;}


.bar2 {
  height: 100%;
  background-color: #B61B30;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
}
.bar3 {
    height: 100%;
    background-color: #B61B30;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    box-shadow: 1px 0 150px #222 ;

  }

  .bar3 p {font-size: 20px;
    font-weight: 500;
padding: 10px 25px;
color: #F3FFA9;}



.bar4 {
    height: 100%;
    background-color: #B61B30;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
  }

/* story3 매지션체키///////////////// */
.story3 {width: 60%;
    height: 70vh;
    margin: 0 auto;
    margin-top: 50px;
position: relative;}

.story3 video {position: absolute;
height: 100%;
width: 100%;
z-index: 4;}
.story3 video source {}

.story3 .st3Img1 {position: absolute;
bottom: -100px;
left: -100px;
z-index: 5;}
.story3 .st3Img1>img {width: 670px;}

.story3 .st3Img2 {position: absolute;
bottom: -100px;
right:-360px;}
.story3 .st3Img2>img {width: 1100px;}

.story3>div {width: 300px;
display: flex;
z-index: 6;
position: relative;
margin-left: 77%;
top: -50px;}
.story3>div>a {}
.story3>div>a>p {width: 260px;
    height: 30px;
    background-color: #F3FFA9;
    position: absolute;
    text-align: center;
    padding-top: 5px;
    border-radius: 50px;
    color: #B61B30;
    font-weight: 500;
    top: 35px;
    left: -20px;
    box-shadow: 0px 2px 6px -3px #000;
    transition: all 0.2s;
}
.story3>div>a:hover p {background-color: #B61B30;
color: #C2CC87;}

.story3>div>a>img {width: 120px;
position: absolute;
right: 0;
top: -5px;
transition: all 0.4s;}
.story3>div>a:hover:hover img {
    width: 130px;
    transform:rotate(20deg);}
    

/* 아티클6 history설정/////////// */

.eBox {width: 60%;
    height: 70vh;
    margin: 0 auto;
    margin-top: 60px;
position: relative;}


.e1 {display: flex;
justify-content: space-between;
position: absolute;
bottom: 20px;
width: 100%;}
.e1>li {cursor: pointer;}
.e1 img {width: 340px;
height: 670px;}

/* //////////////////// */


.e2>li:hover {opacity: 1;}
.e2>li {opacity: 0;
transition: all 0.5s;}




/* e2 설정 */

.e2 {display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    width: 100%;}
    .e2>li {cursor: pointer;}
    .e2 img {width: 340px;
        height: 670px;}

.e2>li>ul {position: absolute;
    top: 120px;
font-size: 13px;
width: 30%;
height: 70%;
}


.e2>li>ul>li {color: #B61B30;
margin-bottom: 10px;
margin-left: 60px;
}
.e2>li>.etxt1>li:nth-child(1) {margin-top: 60px;}
.e2>li>.etxt3>li:nth-child(1) {margin-top: 120px;}


/* //////////////////////////////////////// */
/* 푸터 설정 */
footer {width: 100%;
height: 180px;
background-color: #662B11;
position: relative;
color: #ddd;
}
/* f1 */
.f1 {width: 600px;
height: 50px;
position: absolute;
left: 20%;
top: 20px;
z-index: 4;
}
.f1 ul {display: flex;
font-size: 16px;
color: #999;}
.f1 li {margin-right: 20px;}
.f1 li a {color: #ddd;
opacity: 0.6;}
.f1 li:nth-child(5) a {color: #fff;
opacity: 0.8;}
.f1 li a:hover {opacity: 1;}

.f1 img {width: 100px;
margin-top: 10px;
cursor: pointer;
transition: all 0.4s;}
.f1 img:hover {opacity: 0.5;}

/* f2 */
.f2 {width: 60%;
    height: 50px;
    position: absolute;
    right: 20%;
    top: 20px;
    opacity: 0.9;
}
.f2 p {text-align: right;
    font-size: 13px;}
.f2 p>b {
    font-size: 19px;
    font-weight: 500;
}
.f2 p>em {font-style: normal;
font-size: 12px;
}
.f2>div {width: 100%;
border-bottom: #eee solid 1.5px;
margin-top: 15px;}

/* f3 */
.f3 {width: 60%;
position: absolute;
left: 20%;
bottom: 30px;}
.f3 p {font-size: 12px;}

/* f4 */
.f4 {width: 60%;
position: absolute;
right: 20%;
text-align: right;
bottom: 40px;
display: flex;
flex-direction: row-reverse;
z-index: 3;
}
.copyright {font-size: 13px;
margin-right: 10px;}
.f4 ul {display: flex;}
.f4 li {}
.f4 li>a {margin-left: 5px;}
.f4 li>a>img {width: 25px;
height: 25px;}
.f4 li>a:hover {opacity: 0.7;}


.fbImg {width: 320px;
position: absolute;
right: 20%;
top: 30px;
}


/* /////////////////////////// */
.sp1 {width: 40%;
height: 600px;
position: absolute;
left: 10%;
top: 27%;}

#slideshow {
    margin: 50px auto;
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
  }
  
  #slideshow img {    width: 350px;
    position: absolute;
    left: 15%;
    top: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  #slideshow img:nth-child(2) {
    top: 10%;
  }
  
  #slideshow img.active {
    opacity: 1;
  }
  
  #slideshow button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    color: #B61B30;
    font-size: 24px;
    padding: 10px;
    background-color: #F3FFA9;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 5px 8px rgb(0, 0, 0, 0.1);
  }
  
  #slideshow button.previous {
    left: 10px;
  }
  
  #slideshow button.next {
    right: 10px;
  }

  /* .,,,,,,,,,,,,,,,,,, */
  .sp2 {width: 28%;
    height: 600px;
    position: absolute;
    right: 20%;
    top: 25%;
    text-align: right;}




.sp2_1 {font-family: 'Noto Sans KR', sans-serif;}
.sp2_txt{text-align: left;
font-size: 30px;
font-weight: bold;
color: #B61B30;}
.sp2_txt>em{font-style: normal;
font-size: 25px;}

/* 하트 공유 아이콘 */
.sp2_1icon {display: flex;
position: absolute;
right: 10px;
top: 15px;
}
.sp2_1icon li {margin-left: 15px;
cursor: pointer;}

.sp2_1icon img {width:25px;
}

.sp2_1img1>img {width: 100%;}

/* 작은 글씨 */
.sp2_txt2 {text-align: left;
margin-top: 10px;
margin-bottom: 25px;
font-weight: lighter;}

/* 별 */
.sp2_1img2 {text-align: left;}
.sp2_1img2>a {}
.sp2_1img2 img {width: 220px;}

/* 원산지판매가배송비 */
.sp2_2 {margin-top: 40px;}
.sp2_2>div {display: flex;
justify-content: space-between;
margin: 20px 0;}
.sp2_2 p {}


/* 노란 수량박스 */
.sp2_3 {}
.sp2_3box {width: 100%;
height: 90px;
background-color: #F3FFA9;
display: flex;
align-items: center;
border-radius: 20px;
margin-top: 30px;}
.sp2_3box>p {float: left;
margin-left: 50px;
margin-right:30px;
text-align: left;
font-size: 15px;
width: 50%;}
.sp2_3box>p>em {font-style: normal;
font-size: 16px;
font-weight: 700;}
.sp2_3box>input {width: 32px;
height: 32px;
border-radius: 50px;
border: none;
background-color: #fff;
cursor: pointer;
color: #B61B30;
font-size: 25px;
margin: 0 5px;
}
input:hover {opacity: 0.7;}

#result {background-image: url(../img/btImg.png);
width: 67px;
height: 31px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50px;}

/* 선물하기 장바구니 바로구매창  */
.sp2_4 {}
.sp2_4>div {display: flex;
justify-content: space-between;
margin-top: 20px;}
.sp2_4>div>p {font-weight: bold;
font-size: 18px;
color: #515151;}
.sp2_4>div>p:nth-child(2) {color: #B61B30;}

.sp2_4>ul {display: flex;
justify-content: space-between;
margin-top: 20px;
}
.sp2_4>ul>li {font-size: 17px;
background-color: #fff;
width: 150px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
border: #F3FFA9 solid  4px;
border-radius: 15px;
cursor: pointer;
font-weight: 600;
color: #515151;

transition: all 0.4s;
}
.sp2_4>ul>li>img {width: 19px;
height: 17px;}

.sp2_4>ul>li:nth-child(1):hover {background-color: #F3FFA9;}
.sp2_4>ul>li:nth-child(2):hover {background-color: #F3FFA9;}
.sp2_4>ul>li:nth-child(3) {background-color: #F3FFA9 ;}
.sp2_4>ul>li:nth-child(3):hover {background-color: #fff;}


/* ///////////////////////////////////////////////// */

#product {width: 100%;
height: 500px;
overflow: hidden;
position: relative;
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;}

#product>div {width: 450px;
height: 50px;
position: absolute;
left: 20%;
margin-top: -400px;
}
#product>div>p {font-size: 28px;
font-weight: bold;
color: #B61B30;
position: absolute;
margin-top: -5px;}
#product>div>img {width: 420px;
    height: 50px;}



    .pd1 img {width: 180px;
    transition: all 0.3s;}
    .pd1 {width: 40%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    position: absolute;
    left: 20%;
    margin-top: 70px;
}
    .pd1 P {color: #828282;
    margin-top: 15px;
font-size: 18px;}
    .pd1 P>b {color: #353535;}

    .pd1 a:hover img {opacity: 0.5;}



    /* ///// */

    .pd2 {width: 13%;
        height: 500px;
display:flex;
flex-direction: column;
position: absolute;
right: 20%;}

.pd2 li {}

.pd2 li:nth-child(1) {margin-top: 100px;}
.pd2 li>a {height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #515151;
    margin-top: 40px;
    background-color: #F3FFA9;
    border-radius: 50px;
    transition: all 0.5s;
    color: #B61B30;
    box-shadow: #B61B30 0 6px;
    font-weight: 600;}


    .pd2 li:nth-child(3) a {background-color: #fff;
    box-shadow: none;
margin-top: 80px;}
    .pd2 li>a>img {width: 200px;
    opacity: 0.5;}
    .pd2 li>a:hover img {opacity: 1;}

    .pd2 li>a:hover {color: #d95b6c;}

    /* ////////////////////////////////////////// */

    .submenu {position: relative;
    top: 10px;
    z-index: 999;
    width: 100%;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    border-bottom: #FFC700 solid 5px;
background-color: #fff;}

.submenu>li {width: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
    text-align: center;}
    .submenu>li> a {font-size: 20px;
    font-weight: bold;
    color: #8C8C8C;}
    .submenu>li> a:hover {color: #B61B30;}

    .submenu.subfixed {position: fixed;
    top: 0;}


    #content {width: 100%;}



    
    #content article {width: 38%;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    left: 20%;
    margin-top: 50px;
}

 
/* 픽스드 되어있어야하는 오른쪽구매창 */
    .confixed {
    width: 20%;
    height: 650px;
    position: absolute;
    right: 20%;
color: #353535;}

.confixed.confix {position: fixed;
width: 200px;}


.con_txt {text-align: left;
    font-size: 30px;
    font-weight: bold;
    color: #B61B30;}
    .con_txt>em{font-style: normal;
    font-size: 25px;}

.con_1img1 {width: 100%;
position: relative;
height: 50px;}
.con_1img1>img {width: 100%;}
.con_txt2 {font-size: 14px;}

.con_1img2 {width: 100%;
margin: 20px 0;}
.con_1img2>a {width: 100%;}
.con_1img2 img {width: 50%;}

.con_txt3 {width: 100%;
height: 100px;}
.con_txt3 li {width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
height: 50%;}

.con_box {width: 100%;
height: 100px;
background-color: #F3FFA9;
margin: 20px 0;
border-radius: 20px;
display: flex;
align-items: center;
justify-content: center;
}
.con_box>p {font-size: 14px;
margin-right: 10px;}
.con_box>p>em {font-size: 15px;
font-weight: bold;
font-style: normal;}

.con_box>input {width: 30px;
    height: 30px;
    border-radius: 50px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    color: #B61B30;
    font-size: 20px;
    text-align: center;
    margin: 0 5px;}

.con_txt4 {display: flex;
justify-content: space-between;}
.con_txt4 p {font-size: 18px;
color: #B61B30;
font-weight: bold;}
.con_txt4 p:nth-child(1) {color: #353535;}

.con_box2 {width: 100%;
height: 150px;
margin-top: 20px;}
.con_box2 li {float: left;
    width: 50%;
height: 50%;}

.con_box2 li>a{position: absolute;
width: 180px;
height: 60px;
display: flex;
align-items: center;
justify-content: center;
background-color: #fff;
box-shadow: 0 0 0 5px #F3FFA9 inset;
border-radius: 15px;
color: #515151;
font-weight: bold;
transition: all 0.3s;
}
.con_box2 li:nth-child(2) a {margin-left: 10px;}
.con_box2 li:nth-child(3) a {width: 100%;
background-color: #F3FFA9;}
.con_box2 li>a>img{width: 20px;
margin-right: 3px;}

.con_box2 li>a:hover {background-color: #F3FFA9;}
.con_box2 li:nth-child(3) a:hover {background-color: #fff;}


/* 1 */

    #detail {height: 590vh;
    background-color: #fff;
    position: relative;
}
#detail>p {width: 100%;
    position: absolute;
    top: 0;}
#detail>p>img {width: 100%;}


/* 2 */

#detail2 {height:420px;
background-color: #f5f5f5;}
#detail2 ul {height: 500px;
position: absolute;
top: 0;}
#detail2 ul li {display: flex;
justify-content: space-between;
border-bottom: #353535 solid 1px;
padding-bottom: 1px;}
#detail2 p {width: 50%;
font-size: 15px;
font-weight: 100;}

#detail2 ul li>p:nth-child(1) {font-weight: 400;}

/* 3 */
#ItemComment {height: 120px;
    background-color: #f5f5f5;}
#ItemComment ul {width: 100%;
height: 100%;}
#ItemComment li {width: 100%;
height: 30%;}
#ItemComment li:nth-child(1) {
    margin-top: 5px;
    font-weight: bold;
    font-size: 20px;
    border-bottom: #353535 solid 1px;}
#ItemComment li:nth-child(2) {text-align: center;
margin-top: 20px;
font-size: 14px;}

/* 4 */
#ItemQna {height: 130px;
background-color: #f5f5f5;
margin-bottom: 50px;
}
#ItemQna ul {width: 100%;
height: 100%;}

.I1 {margin-top: 5px;
    padding-bottom: 7px;
    font-weight: bold;
    font-size: 20px;
    border-bottom: #353535 solid 1px;}

.I2 {display: flex;}
.I2>p {margin-right: 10px;
font-weight: 200;
font-size: 15px;}
.I3 {text-align: center;
margin-top: 10px;
font-size: 14px;}
