@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');


/* 전체설정 */
* {margin: 0;
    padding: 0;}
ul,ol {list-style: none;}
a {text-decoration: none;
    color: 000;}
img {vertical-align: bottom;}

/* 레이아웃설정 */
header {background-color: #ddd;}
section {background-color: #ccc;}
footer {background-color: #bbb;}



/* 헤더설정 */
header {width: 100%;
    height: 100vh;
background-image: url(../img/hero_img.png);
background-position: center bottom;
background-repeat: no-repeat;
background-size: cover;
overflow: hidden;}
header .hd_img {width: 100%;
    height: 140px;
position: absolute;
}

header .hero {display: flex;
justify-content: space-between;
align-items: flex-end;
flex-direction: column;
width: 80%;
position: fixed;
left: 10%;
top: 0;
z-index: 9999;
height: 130px;
}


header .hero .inner {display: flex;
    justify-content: space-between;
    align-items: center;width: 100%;
    height: 100%;
}

/* logo */
 h1 {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -205px;
}
header .hero h1 img {}


/* sns */
header .hero .snsSet {display: flex;
}
header .hero .snsSet li {margin-right: 10px;
}
header .hero .snsSet li a {}
header .hero .snsSet li a img {width: 25px;
height: 25px;}

/* icon */
header .hero .iconSet {display: flex;}
header .hero .iconSet li {padding-left: 20px;
}
header .hero .iconSet li a {}
header .hero .iconSet li a img {}

/* gnb */

header nav {width: 100%;}
header nav ul {display: flex;
position: relative;
justify-content: center;
}
header nav li {padding: 0 60px;
color: #fff;
    font-family: 'Kavoon';
    font-size: 19px;}
.hero_img {

}
.hero_img .i1 {width: 97%;
height: 100%;
position: relative;
bottom: 300px;
left: 200px;}
.hero_img .i2 {}
.hero_img .i3 {}




/* wrap 설정 (콘텐츠영역) */

#wrap {}
#wrap section {
width: 100%;
height: 100vh;
overflow: hidden;
position: relative;
background-color: #fff;}

#wrap section:nth-child(3) {background-color: #F5B994;}
#wrap section:nth-child(4) {background-color: #F5B994;}
#wrap section:nth-child(5) {background-color: #7D3616;}
#wrap section:nth-child(6) {background-color: #7D3616;}


#wrap h2 {color: #B61B30;
font-family: 'Kavoon';
font-size: 80px;
text-align: center;
background-color: #fff;
padding-top: 100px;
}

