@charset 'UTF-8' ;
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* 전체설정 */
* {margin: 0;
    padding: 0;}
ul, ol {list-style: none;}
a {text-decoration: none;
color: #000;}
body {font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
background-color: #023B4C;
color: #fff;
overflow-x: hidden;}



header {width: 80%;
        height: 100vh;
    position: relative;
margin: 0 auto;}

.boxA {background-color: red;}
.boxB {background-color: yellow;}
.boxC {background-color: beige;}
.boxD {background-color: yellowgreen;}



/* 로고설정 */
.logo {width: 896px;
    height: 178px;
    background-image: url(../img/logo.png);
    text-indent: -9999px;
    background-size: contain;
    background-repeat: no-repeat;
margin-left: 50px;
    margin-top: 50px;}
    

/* gnb 설정 */
.boxB {position: absolute;
bottom: 200px;
left: 50px;}
.gnb{}
.gnb ul {}
.gnb ul li {}
.gnb ul li a {
    padding: 20px;
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: #fff
}  


/* 동영상설정 */
.boxC {width:840px;
    height: 1020px;
    border-top-left-radius: 420px;
    border-top-right-radius: 420px;
overflow: hidden;
position: absolute;
    right: 50px;
bottom: 0;}

/* 슬로건설정 */
.boxD {width: 700px;
        text-align: right;
    position: absolute;
right: 50px;
bottom: 100px;}


article  {width: 100%;
    height: 100vh;
padding: 50px;}


    article .title {color: #fff;
    font-size: 40px;
    text-align: center;
padding: 20px 0;}
.box1-2 {width: 100%;}
 .trailer {width: 100%;
    height: 550px;
overflow: hidden;
margin-top: 100px;}
 .trailer ul{display: flex;
width: 4500px;
flex-wrap: wrap;
position: absolute;
left: 500px;}
 .trailer li{margin-right:80px ;
                    height: 180px;}

.box1-2 .trailer img{}

.box1-2 .trailer em{}
.box1-2 .trailer div{}